#root {
  display: flex;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cl-secondary-400);
}

.buy-list-view {
  min-width: min(500px, calc(100% - 2rem));
  height: fit-content;
  border-radius: var(--radius-m);
  color: var(--cl-primary-800);
  background-color: var(--cl-primary-300);
  box-shadow: 0px 6px 6px var(--cl-primary-600);
}

.buy-list-view > header {
  padding-block: 2rem 1.5rem;
  margin-bottom: 1.25rem;
  border-radius: var(--radius-m) var(--radius-m) 0 0;
  background-color: var(--cl-primary-400);
}

.buy-list-view h1 {
  text-align: center;
  margin-bottom: 0.25em;
  color: var(--cl-primary-900);
}

.buy-list-view > header > div {
  width: min(100%, 400px);
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buy-list-view > * {
  padding-inline: 1rem;
}

.new-buy-item-form {
  display: flex;
  gap: 0.4rem;
}

.new-buy-item-form input {
  width: 100%;
}

.new-buy-item-form button {
  width: 40px;
}

.buy-items-container {
  padding-block: 1rem 2rem;
}

.side-panel {
  position: fixed;
  width: 100%;
  height: 100vh;
  right: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  z-index: 10;
  transition: right 300ms ease-out;
}

.side-panel.expanded {
  right: 0;
}

.side-panel-expand-btn {
  position: fixed;
  top: 2rem;
  right: calc(100% - 42px);
  transform-origin: 0% 50%;
  width: 42px;
  aspect-ratio: 1/1;
  padding: 0.6em;
  border: none;
  color: var(--cl-primary-900);
  background-color: var(--cl-primary-400);
  border-radius: 0 var(--radius-m) var(--radius-m) 0;
  cursor: pointer;
  user-select: none;
  z-index: 20;
  transition: right 300ms ease-out;
}

.side-panel-expand-btn[data-color-var="inversed"] {
  right: 0;
  color: var(--cl-primary-200);
  background-color: var(--cl-primary-800);
  border-radius: var(--radius-m) 0 0 var(--radius-m);
}

.side-panel-expand-btn:active {
  background-color: var(--cl-primary-300);
  scale: 0.98;
}

@media (min-width: 800px) {
  .side-panel {
    position: static;
    width: min(35%, 500px);
    min-width: 320px;
  }

  .side-panel-expand-btn {
    display: none;
  }

  .side-panel header {
    box-shadow: 4px 0px 4px var(--cl-primary-600);
  }

  .buy-lists-container {
    box-shadow: 4px 0 4px var(--cl-secondary-500);
  }
}

.side-panel header {
  display: grid;
  background-color: var(--cl-primary-400);
  padding: 1rem 0.5rem;
  gap: 3rem;
}

.side-panel .logo {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.25em;
  font-size: var(--fs-body-l);
  font-weight: bold;
  color: var(--cl-primary-900);
}

.side-panel .logo img {
  height: 2em;
}

.side-panel button {
  justify-self: right;
}

.buy-lists-container {
  padding: 2rem 0.5rem 1rem;
  background-color: var(--cl-secondary-600);
}
